body {background-color: #33fff0;}



img, video{
	max-width: 42%;
	height: auto;
}

header {
  background-color: #33beff;
  color: #0d1720;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: -5px -57px;
}

.site-title {
  font-size: 2.1em;
}

nav ul {
  list-style: none;
  display: flex; 
  gap: 33px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: #0b5a54; 
  text-decoration: underline; 
}

footer{
    border-top: 2px solid #333333;
    margin-top:1rem;
    padding-top: 1rem;
}


main{
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
figure{
  
  text-align: center;
}

h1,h2 {
  text-align: center;
    
  }



